<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.ry.dialry">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 申请使用摄像头的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo01.Demo01Activity" />
        <activity android:name=".demo01.okhttp.OKHttpActivity" />
        <activity android:name=".demo01.recycleview.HomeActivity" />
        <activity android:name=".demo01.recycleview.StaggeredGridLayoutActivity" />
        <activity android:name=".demo01.recycleview.FilterActivity" />
        <activity android:name=".demo01.bgarefresh.analyzerecyclerviewwithbgarefreshlayout.DefineLoadActivity" />
        <activity android:name=".demo01.bgarefresh.analyzerecyclerviewwithbgarefreshlayout.DefineOtherStylesActivity" />
        <activity android:name=".demo01.bgarefresh.analyzerecyclerviewwithbgarefreshlayout.DefineSlidingDeleteActivity" />
        <activity android:name=".demo01.bgarefresh.analyzerecyclerviewwithbgarefreshlayout.DefineLoadWithRefreshActivity" />
        <activity android:name=".demo01.bgarefresh.analyzerecyclerviewwithbgarefreshlayout.MainActivity" />
        <activity android:name=".demo01.bgarefresh.analyzerecyclerviewwithbgarefreshlayout.DefineRefreshActivity" />
        <activity android:name=".demo01.ndk.NDKActivity" />
        <activity android:name=".demo01.percent.PercentFrameLayoutActivity" />
        <activity android:name=".demo01.percent.PercentRelayouLayoutActivity" />
        <activity android:name=".demo01.percent.PercentLinearLayoutActivity" />
        <activity android:name=".demo01.canvas.CanvasActivity" />
        <activity android:name=".demo01.surface.SurfaceViewActivity" />
        <activity android:name=".demo01.sqliteasset.demo.MainActivity" />
        <activity android:name=".demo02.Demo02Activity" />
        <activity android:name=".demo02.actionbar.ActionBarTestActivity" />
        <activity android:name=".demo02.actionbar.ActionBarHomeActivity" />
        <activity android:name=".demo02.actionbar.ActionBarViewActivity" />
        <activity android:name=".demo02.actionbar.ActionBarTabActivity" />
        <activity android:name=".demo02.systembartint.SystenBarTintActivity" />
        <activity android:name=".demo02.systembartint.DefaultActivity"
            android:theme="@style/FullBleedTheme" />
        <activity android:name=".demo02.systembartint.ColorActivity"
            android:theme="@style/FullBleedTheme" />
        <activity android:name=".demo02.systembartint.MatchActionBarActivity"
            android:theme="@style/ActionBarTheme"/>
        <activity android:name=".demo02.systembartint.SamplesListActivity" />

    </application>

</manifest>
